asgiref
asttokens
async-timeout
backcall
beautifulsoup4
crispy-bootstrap4
decorator
Django
django-bootstrap4
django-crispy-forms
executing
ipython
jedi
matplotlib-inline
parso
pexpect
pickleshare
Pillow
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
python-dotenv
pytils
redis
six
soupsieve
sqlparse
stack-data
traitlets
wcwidth
