{% extends 'catalog/base_pricing.html' %}
{% load my_tags %}
{% block content %}
<div class="coc-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'journal:create' %}">Добавить товар</a>
</div>

{% for object in object_list %}
<div class="col md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">
                {{ object|title }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'journal:view' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="{% url 'journal:edit' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="{% url 'journal:delete' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Delete</a>
                </div>
                    {% if object.published_is %}
                        <a class="btn btn-success" href="{% url 'journal:published_is' object.pk %}" type="button">Publish</a>
                    {% else %}
                        <a class="btn btn-warning" href="{% url 'journal:published_is' object.pk %}" type="button">not Publish</a>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Небольшой пример текста, который должен основываться на названии карты и составлять
            основную часть содержимого карты.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Элемент</li>
        <li class="list-group-item">Второй элемент</li>
        <li class="list-group-item">Третий элемент</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Ссылка карточки</a>
        <a href="#" class="card-link">Другая ссылка</a>
    </div>
</div>
{% endblock %}