{% extends 'catalog/base_pricing.html' %}
{% load my_tags %}
{% block content_title %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Wonderland</h1>
    <p class="fs-5 text-body-secondary">Choose your team</p>
</div>
{% endblock %}

{% block content_table %}
<a
        class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить продукт
</a>

<table class="table">

    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Названия</th>
        <th scope="col">Цена</th>
        <th scope="col">Описание</th>
        <th scope="col">Работа с продуктом</th>
        <th scope="col">Работа с версиями</th>
        <th scope="col">Активная версия</th>
    </tr>
    </thead>
    {% if product_list %}
    <ul>
        {% for product in product_list %}
        <tbody>
        <tr>
            <th>{{ product.id }}</th>
            <th>{{ product.name }}</th>
            <th>{{ product.price }}</th>
            <th>{{ product.description | truncatechars:100}}</th>
            <th>
                <a href="{% url 'catalog:view' product.pk %}"
                   class="btn btn-sm btn-outline-secondary">Просмотр</a>
                <a href="{% url 'catalog:edit' product.pk %}"
                   class="btn btn-sm btn-outline-secondary">Изменение</a>
                <a href="{% url 'catalog:delete' product.pk %}"
                   class="btn btn-sm btn-outline-secondary">Удаление</a>
            </th>
            <th>
                <a href="{% url 'catalog:view_version' product.pk %}"
                   class="btn btn-sm btn-outline-secondary">Просмотр версии</a>
                <a href="{% url 'catalog:edit_version' product.pk %}"
                   class="btn btn-sm btn-outline-secondary">Изменение версии</a>
            </th>
            <th>
                {% for version in product.version_set.all %}
                {% if version.version_is %}
                <p class="text-success">{{ version.version_name }}</p>
                {% else %}
                <p class="text-danger">{{ version.version_name }}</p>

                {% endif %}
                {% endfor %}
            </th>

        </tr>
        </tbody>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</table>
{% endblock %}

{% block content_buy %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0<small
                        class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>White Rabbit</li>
                    <li>Mad Hatter</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm ">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small
                        class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Cheshire Cat</li>
                    <li>Caterpillar</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29<small
                        class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Tweedledum</li>
                    <li>Tweedledee</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}